<li id="comment_<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
 <% user = comment.user %>
  <span class="user"> <%= link_to user.name , user %>:</span>
  <span class="content"><%=  comment.content %> </span>
  <span class="timestamp">Posted
  <%= time_ago_in_words(comment.created_at) %> ago.</span>
  <% if user == current_user %>
    <%= link_to "edit", 
      edit_book_review_comment_path(@book, comment.review, comment),method: :get, remote: true %>
    <%= link_to "delete", 
      book_review_comment_path(@book, comment.review, comment), remote: true,
        method: :delete, data: { confirm: 'Are you sure?' }%>
  <% end %>
</li>