<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>  
    </section>
    <section class="stats">
        <%= render 'shared/stats' %>      </section>
  </div>
  <div class="col-sm-8">
    <div>
      <h2>Activities</h2>
      <%= render @user.activities %>
    </div>
      <h2>Favorites</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <td>Title</td>
              <td>Author</td>
            </thead>
            <tbody>
              <% @user.user_books.each do |user_book| %>
                <% if user_book.favorite? %>
                  <tr>
                    <% book = user_book.book %>
                    <td><%= link_to book.title, book %></td>
                    <td><%= link_to book.author, book %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

      <table class="table">
        <h2>Reading history</h2>
       
          <thead>
            <td>Title</td>
            <td>Author</td>
          </thead>
          <% @user.user_books.each do |user_book| %>
          <% if user_book.reading? %>
          <tr>
          <% book = user_book.book %>
          <td><%= link_to book.title, book %></td>
          <td><%= link_to book.author, book %></td>
          </tr>
        <% end %>
        <% end %>
        
      </table>

      <% if current_user?(@user) %>
      <h2>Requested</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>Title</th>
              <th>Time</th>
              <th>Status</th>
            </thead>
            <tbody>
              <% if @user.requests.any? %>
              <% @user.requests.each do |request| %>
                <% book = request.book %>
                <tr>
                  <td><%= link_to book.title, book %></td>
                  <td><%= request.created_at.to_date %></td>
                  <% if request.approved? %>
                    <td>Yes</td>
                  <% elsif request.denied? %>
                    <td>No</td>
                  <% else %>
                    <td>Waiting</td>
                  <% end %>
                  </td>
                </tr>
              <% end %>
              <% end %>  
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
 



