<p id="notice"><%= notice %></p>
  <div class="row">
    <div id="pad-wrapper">
      <div class="col-xs-30">
        <div class="ibox-content no-padding border-left-right">
          <div class="img-responsive">
            <%= gravatar_for @user %>
            <strong><%= @user.name %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <section class="stats">
      <%= render 'shared/stats' %>      
    </section>
    <div class="col-md-8">
              <%= render 'follow_form' if logged_in? %></div>
            </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
      <div class="panel-heading"><strong>Activities</strong></div>
      <div class="panel-body">
          <div class="ibox-content">
            <div class="feed-activity-list">
              <%= render @user.activities %>
            </div>
          </div>  
      </div><!-- feed-activity-list -->
      </div><!--ibox-content -->
    </div>
  </div>
  <div class= "row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Favorites</strong></div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>Title</th>
                <th>Author</th>
              </thead>
              <tbody>
                <% @user.user_books.each do |user_book| %>
                <% if user_book.favorite? %>
                  <tr>
                    <% book = user_book.book %>
                    <td><%= link_to book.title, book %></td>
                    <td><%= link_to book.author, book %></td>
                  </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
          </div> 
      </div>
      </div>
    </div>
  </div>
  </div>
  <div class= "row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Reading history</strong></div>
        <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>Title</th>
              <th>Author</th>
            </thead>
            <% @user.user_books.each do |user_book| %>
            <% if user_book.reading? %>
              <tr>
              <% book = user_book.book %>
              <td><%= link_to book.title, book %></td>
              <td><%= link_to book.author, book %></td>
              </tr>
            <% end %>
            <% end %>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
  <% if current_user?(@user) %>
    <div class= "row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Requested</strong></div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <th>Title</th>
                <th>Time</th>
                <th>Status</th>
                </thead>
                <tbody>
                  <% if @user.requests.any? %>
                  <% @user.requests.each do |request| %>
                    <% book = request.book %>
                    <tr>
                      <td><%= link_to book.title, book %></td>
                      <td><%= request.created_at.to_date %></td>
                      <% if request.approved? %><td>Yes</td>
                      <% elsif request.denied? %><td>No</td>
                      <% else %><td>Waiting</td>
                      <% end %>
                    </tr>
                  <% end %>
                  <% end %>  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
 