<div id="comment_form_<%= review.id %>">
  <%= form_for [@book, review, Comment.new], remote: true do |f| %>
    <%= render 'shared/error_mess', object: f.object %>
      <h3><%= f.text_field :content, placeholder: "Comment" %></h3>
      <span class="col-md-2"><%= f.submit "Post", class: "btn btn-success btn-sm" %></span>
  <% end %>
</div>
