<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% book = request.book %>
    <span class="col-lg-6 col-md-6 col-sm-6">
    <%= form.label :accept %>
    <h3><%= form.select(:accept, options_for_select([['NO','0'],['YES','1'],['Waiting','2']]), {include_blank: 'Select acception'}) %> </h3>
 </span><br>
  <span class="col-lg-1 col-md-1 col-sm-6">
    <%= form.submit "Save", class: "btn btn-primary"%>
  </span> 
<% end %>
