<%= form_tag(books_path, method: :get) do %>
<%= text_field_tag :term, params[:term] %>
<%= submit_tag 'Search', name: nil %>
<% end %>
<h1> LIST BOOK </h1>
<% if @books.blank? %>
<h3> NO BOOKS </h3>
<% end %>
<%= link_to 'Add Book', new_book_path %>
<div class="container">
	<div class="row">
		<% @books.each do |book| %>
			<div class="col-sm-6 col-md-4">
				<div class="test">				 
				<% if current_user && current_user.admin? %>				
				<p><%= book.title %> <%= "    ||    " %><%= book.author %></p>
				<p><%= link_to 'Edit', edit_book_path(book) %>
					<%= link_to ' Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %><%= link_to '   Show', book %>
				</p>
        		<% else %>
        		<p><%= book.title %> <%= "    ||    " %><%= book.author %></p>
        		<p> <%= link_to 'Show', book %></p>
        		</div>
				      		
			</div>
		<% end %>
		</div>
</div>
<% end %>

