<p id="notice"><%= notice %></p>

<h1>Books</h1>
  <tbody>
    <% @books.each do |book| %>
        <p><%= book.title %> <%= "  ||by  " %><%= book.author %> <%= link_to '     Show', book %></p>
        <!-- <td><%= book.author %></td> -->
    <% end %>
  </tbody>
</table>

