<p id="notice"><%= notice %></p>

<h1>LIST BOOK</h1>
  <tbody>
    <% @books.each do |book| %>
        <p><%= book.title %> <%= "    ||    " %><%= book.author %></p>
        <p> <%= link_to '     Show', book %></p>
    <% end %>
  </tbody>
</table>