<div class="container">
	<%= form_tag(books_path, method: :get) do %>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 p-0 push-4">
		        <div>
		            <%= text_field_tag :term, params[:term]%>
		        </div>   
	    	</div>
		    <div class="col-lg-3 col-md-3 col-sm-12 p-0 push-4">
		        <h3 >
		            <%=collection_select :category, :id, Category.all.order('name ASC'), :id, :name,{include_blank: 'Select Category'}%>
		        </h3>
		        
		    </div>
		    <div class="col-lg-1 col-md-1 col-sm-6 p-0 push-4">
		        <div >
		            <%= submit_tag 'Search', name: nil, class: "btn btn-primary", SIZE: 2  %>
		        </div>     
		    </div>
		</div>
	<% end %><br>
	<h1> LIST BOOK </h1><br>
	<% if @books.blank? %>
		<h3> NO BOOKS </h3>
	<% end %>
	
	<% if current_user && current_user.admin? %>
		<p><%= link_to 'Add Book', new_book_path %></p>
    <div class="row">
		<% @books.each do |book| %>
		<div class="col-sm-6 col-md-4">
			<div class="test">
				<div class="tsutsumu">
					<img src= <%= book.image %> style="width:250px;height:250px;" >
				
				<p><%= book.title %><%= "    ||    " %><%= book.author %></p>
				<p1><%= link_to 'Edit   ', edit_book_path(book) %><%= link_to ' 	Destroy   ', book, method: :delete, data: { confirm: 'Are you sure?' } %><%= link_to '		Show', book %></p1>
				</div>
			</div>

		</div>
		<% end %>
  </div>
	<%else%>
  <div class="row">
	    <% @books.each do |book| %>
			<div class="col-sm-6 col-md-4">
				<div class="test">
					<div class="tsutsumu"><img src= <%= book.image %> style="width:250px;height:250px;" >
					<p><%= book.title %><%= "    ||    " %><%= book.author %></p> 
				
        			<p> <%= link_to 'Show', book %></p>
        			</div>
        		</div>
			</div>
		<% end %>
  </div>
	<% end %>
</div>

