<%= form_tag(books_path, method: :get) do %>
<%= text_field_tag :term, params[:term] %>
<%= submit_tag 'Search', name: nil %>
<% end %>
<h1> LIST BOOK </h1>
<% if @books.blank? %>
<h3> NO BOOKS </h3>
<% end %>
<div class="container">
	
	<div class="row">
	<% if current_user && current_user.admin? %>
		<p><%= link_to 'Add Book', new_book_path %></p>
		<% @books.each do |book| %>
		<div class="col-sm-6 col-md-4">
			<div class="test">
				<p><%= book.title %><%= "    ||    " %><%= book.author %></p>
				<p1><%= link_to 'Edit   ', edit_book_path(book) %><%= link_to ' 	Destroy   ', book, method: :delete, data: { confirm: 'Are you sure?' } %><%= link_to '		Show', book %></p1>
			</div>

		</div>
		<% end %>
	<%else%>
	    <% @books.each do |book| %>
			<div class="col-sm-6 col-md-4">
				<div class="test">
				<p><%= book.title %><%= "    ||    " %><%= book.author %></p> 
				</div>
        		<p> <%= link_to 'Show', book %></p>
			</div>
		<% end %>
	<% end %>
	</div>

</div>