<% provide(:title, @book.title) %>
<div class="center">
  <h7><%= @book.title %></h7>
  <h4>by <%= @book.author %></h4>
</div>
 <% if logged_in? %> 
<%= link_to 'Add A Review', new_book_review_path(@book), method: :get %> 
<div class="center">
    <% @user_book = @book.user_books.find_by_user_id current_user.id %>
    <% if @user_book %>
      <%= render "shared/update_favorite" %>
      
      <%= render "shared/update_read" %>

    <% else %>
      <%= render "shared/create_favorite" %>

      <%= render "shared/create_read" %>
    <% end %>
   </div> 
<% else %>
  <%= link_to "Signin to review", login_path %>
<% end %>
<div class="left">
  <h4>Category: <%= @book.category.name %></h4>
  <h4>Number of pages: <%= @book.number_of_pages %></h4>
  <h4>Published: <%= @book.published_date.to_date %></h4>  
</div>
<div>Reviews</div>

<ul class="users left">
  <% @book.reviews.each do |review| %>
    <li>
      <% user = review.user %>
      <%= link_to user.name, user %>
      <p1>Rating : <%= review.rating %> </p1>
      <p1>Comment : <%= review.comment %></p1>
       at
      <%= review.created_at.to_date %>    
      <% if user == current_user %>
        <%= link_to "edit", edit_book_review_path(@book, review) %>
        <%= link_to "delete", book_review_path(@book, review), confirm: "Are you sure?",method: :delete        %>
      <% end %> 

      <ul>
        <div id="comments_<%= review.id %>">
          <%= render review.comments %>
        </div>
        <% if logged_in? %>
          <%= render "shared/comment_form", review: review %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<p> <%= link_to ' Back', root_path %></p>
