<% provide(:title, @book.title) %> 
<div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-4">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" ><img src= <%= @book.image %> style="width:250px;height:250px;" ></div>
            </div>
          </div>
          <div class="details col-md-6">
            <h7 class="product-title"><%= @book.title %></h7>
            <h4 class="center">by <%= @book.author %></h4>
            <div class="left">
              <h4>Category: <%= @book.category.name %></h4>
              <h4>Description: <%= @book.description %></h4>
              <h4>Number of pages: <%= @book.number_of_pages %></h4>
              <h4>Published: <%= @book.published_date.to_date %></h4>  
            </div>
            <% if logged_in? %>
            <div class="action">
            <% @user_book = @book.user_books.find_by_user_id current_user.id %>
              <button class="add-to-cart btn btn-default" type="button"><%= link_to 'Add A Review', new_book_review_path(@book), method: :get %> </button>
              <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
              <% if @user_book %>   
              <%= render "shared/update_favorite" %>      
              <%= render "shared/update_read" %>
              <%= render "shared/update_reading" %>
              <% else %>
              <%= render "shared/create_favorite" %>
              <%= render "shared/create_read" %>
              <%= render "shared/create_reading" %>
              <% end %>

              <% @request = @book.requests.find_by_user_id current_user.id %>
              <% if @request.present? %>
                <%= render "shared/destroy_request" %>
              <% else %>
                <%= render "shared/create_request" %>
              <% end %>
            </div>
            <% else %>
            <%= link_to "Signin to review", login_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<h4>Reviews</h4>


<div class="container">
  <% @book.reviews.each do |review| %>
      <div class="row">
        <div class="col-sm-1">
            <div><% user = review.user %><%= link_to gravatar_for(user, size: 100),user %></div>
        </div><!-- /col-sm-1 -->
        <div class="col-sm-9">
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong><% user = review.user %>
                <%= link_to user.name, user %></strong> 
              <span class="text-muted"> at  <%= review.created_at.to_datetime %></span>
            </div>
            <div class="panel-body ">
              <h4>Rating : <%= review.rating %></h4>
                          
              <h4>Comment : <%= review.comment %></h4>
              <h6>at  <%= review.created_at.to_datetime %></h6>
            </div>
              <% if user == current_user %>
                <%= link_to "Edit", edit_book_review_path(@book, review) %>
                <%= link_to "Delete", book_review_path(@book, review), confirm: "Are you sure?",method: :delete %>
              <% end %> 
          </div>
          <div class="col-sm-10">
            <div id="comments_<%= review.id %>">
            <%= render review.comments %>
          </div>
          <% if logged_in? %>
            <%= render "shared/comment_form", review: review %>
          <% end %>
          </div>
        </div>
        <div class="row"></div>
      </div>
  <% end %>
</div>


<p> <%= link_to ' Back', root_path %></p>

<script>
    
  jQuery(document).ready(function($){
    
  for (i = 1; i <= review.rating ; ++i) {
  $("#rating-star-"+i).toggleClass('btn-warning');
  $("#rating-star-"+i).toggleClass('btn-default');
  }
  
  for (ix = 1; ix <=  review.rating ; ++ix) {
  $("#rating-star-"+ix).toggleClass('btn-warning');
  $("#rating-star-"+ix).toggleClass('btn-default');
  }
  
  );    
</script>

<script> 
  $(document).ready(function(){
    var value= $(this).data("attr");
    $(" review.rating").val(value);
  });
</script> 