<% provide(:title, @book.title) %>
<div class="left">
  <h7><%= @book.title %></h7>
  <h4>by <%= @book.author %></h4>
  <h4><%= @book.number_of_pages %> pages</h4>
  <h4>Published: <%= @book.published_date.to_date %></h4>
</div>
<div>Reviews</div>
<ul class="users left">
  <% @book.reviews.each do |review| %>
    <li>
      <% user = review.user %>
      <%= link_to user.name, user %>
      <p>Rating : <%= review.rating %> </p>
      <p>Comment : <%= review.comment %></p>
       at
      <%= review.created_at.to_date %>    
      <% if user == current_user %>
        <%= link_to "edit", edit_book_review_path(@book, review) %>
        <%= link_to "delete", book_review_path(@book, review), method: :delete, 
          confirm: "Are you sure?" %>
      <% end %> 
    </li>
  <% end %>
</ul>
